/* === HEADER === */
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #2196f3;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #e5e5e5;
}
.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121
}
.nav:hover,
:focus {
  color: var(--main-color);
}
/* === END HEADER ===*/

/* === COMPONENTS ===*/
.button {
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.625;
  letter-spacing: 0.03em;
}
.button:hover,
:focus {
  background-color: var(--main-color);
  color: #ffffff;
}
.order-service-button {
  font-weight: 900;
  font-size: 16;
  background-color: var(--main-color);
  color: #ffffff;
  line-height: 1.875;
  cursor: pointer;
  letter-spacing: 0.06em;
}
/* === END COMPONENTS ===*/

/* === BODY ===*/
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.sub-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
}
.picture-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.picture-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
.employee-description {
  font-size: 16px;
  color: #757575;
  line-height: 1.187;
  letter-spacing: 0.03em;
}
.picture-description {
  line-height: 1.875;
  color: #757575;
}
.lorem-ipsum {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.276;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.lorem-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}
.employee-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
}

/* === END BODY === */

/* === FOOTER === */
.contact-top .contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
}
.logo {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
.contact {
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7142;
}
.contact:hover,
:focus {
  text-decoration: underline;
  color: var(--main-color);
}
.contact-list .contact-address {
  color: #ffffff;
}

/* === END FOOTER ===*/
